{% extends 'base.html' %}

{% block content %}

<div class="main-content">
    <div class="bg-dark tix-bg">
        <div class="container pt-4 pb-4">
            <div class="text-center">
                <h1 class="mb-3 text-white">
                    Phim đang chiếu
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row my-4" style="padding-left: 120px; padding-right: 120px;">
	{% for movie in posts %}
	<!-- Movies box -->
	<div class="col-md-3">
		<div class="card mb-3 shadow">
			<img src="{{movie.image.url}}" class="card-img-top" alt="{{movie.name}}">
				<div class="card-body" style="height: 100px;">
					<h5 class="card-title"><a href="{% url 'MovieDetail' movie.id %}" style="text-decoration: none;" >{{movie.name}}</a></h5>
				</div>
		</div>
	</div>
		{% endfor %}

</div>

{% endblock content %}
